/* overflow-x hidden disables the ablity to scroll left to right */
html, body{
    overflow-x: hidden;
}


h1, h2, h3, h4, h5, p, button, a{

    font-family: 'Roboto', sans-serif;
}


.navbar{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px;
}

.navbar button{
    background-color:  purple;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: 0px;
}
.navbar .transparent-btn{
    background-color:  transparent;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid blue;
}


/* BG Elements---------------------- */
.content::before{
    content: '';
    background-color: purple;
    filter: blur(90px);
    position: absolute;
    border-radius: 9000px;
    top: -850px;
    left: -450px; 
    transform: rotate(-70deg);
    height: 1900px;
    width: 1900px;
    
    z-index: -1;

}
.bg-content2::before{
    content: '';
    background-color: rgba(0, 0, 255, 0.603);
    filter: blur(90px);
    position: absolute;
    border-radius: 6000px;
    top: -450px;
    left: 150px; 
    transform: rotate(-70deg);
    height: 1900px;
    width: 1900px;
    
    z-index: -1;

}
/* BG Elements-------------------------- */



.content{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: white;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    padding: 100px 25px 0;
}

.content img{
    margin: 25px auto 0;
    display: block;
    max-width: 100%;
    height: auto;
}   


.content h1{
    font-weight: bold;
    
}
.content h4{
    margin: 20px 0px;
}
.content button{

    background-color:  transparent;
    color: white;
    /* padding 10px(top and bottom) 25px(left to right) in that order  */
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid blue;

}





.box-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    max-width: 1400px;
    margin: 250px auto 120px auto;
    align-items: center;
}

.box-row > div:nth-last-of-type(2){
 position: relative;
 top: -75px;

}







.inner-box{
    background-color: white;
    box-shadow: rgba(211, 211, 211, 0.301) 10px 10px 10px ;
    border-radius: 15px;
    padding: 50px 25px;
    text-align: center;

}
.inner-box h4{
     color: blue;
}

.inner-box img{
    margin: 0 auto;
    display: block;
    
}

@media screen and (max-width: 1024px) {
    .content{
        grid-template-columns: repeat(1,100%);
    }
    
    
}