
/* overflow-x hidden disables the ablity to scroll left to right */
html, body{
    overflow-x: hidden;
}


h1, h2, h3, h4, h5, p, button, a{

    font-family: 'Roboto', sans-serif;
}


.navbar{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px;
}

.navbar button{
    background-color:   rgb(108, 19, 160);
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: 0px;
    font-size: 14px;
}
.navbar a{
    background: linear-gradient(90deg, rgb(148, 47, 206) 0%, rgba(230, 209, 24, 0.842));
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid rgb(108, 19, 160);
    text-decoration: none;
    font-size: 14px;
    border: 0px ;
    box-shadow: rgba(89, 16, 131, 0.747) 10px 10px 10px ;

}
.navbar .transparent-btn{
    background-color:  transparent;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid rgba(230, 208, 14, 0.603);
}


/* BG Elements---------------------- */
.content::before{
    content: '';
    background-color: rgb(108, 19, 160);
    filter: blur(90px);
    position: absolute;
    border-radius: 9000px;
    top: -850px;
    left: -450px; 
    transform: rotate(-70deg);
    height: 1900px;
    width: 1900px;
    
    z-index: -1;

}
.bg-content2::before{
    content: '';
    background-color: rgba(230, 208, 14, 0.842);
    filter: blur(90px);
    position: absolute;
    border-radius: 6000px;
    top: -450px;
    left: 150px; 
    transform: rotate(-70deg);
    height: 1900px;
    width: 1900px;
    
    z-index: -1;

}
 .bg-content3::before{
    content: '';
    background-color: rgba(136, 31, 197, 0.459);
    filter: blur(40px);
    position: absolute;
    border-radius: 9000px;
    top: 150px;
    left: -250px; 
    transform: rotate(-70deg);
    height: 1900px;
    width: 1900px;
    
    z-index: -2;


} 

.bg-content4::before{
    
 content: "";     
    
}
/* BG Elements-------------------------- */



.content{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: white;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;

    /*       100px on the top */
    /*             25px left and right  */
    /*                  0px on the bottom */
    padding: 100px 25px 0;
    min-height: calc(100vh - 104px - 19px);
}

.f-bottom{
    filter: blur();
    background: linear-gradient(90deg, rgb(148, 47, 206) 0%, rgba(230, 209, 24, 0.842));
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 0 450px;
    padding: 0 100px;
    
    border: 1px solid rgba(230, 208, 14, 0.603);
   

}

.content img{
    margin: 25px auto 0;
    display: block;
    max-width: 100%;
    height: auto;
}   


.content h1{
    font-weight: bold;
    
}
.content h4{
    margin: 20px 0px;
}
.content button{

    background-color:  transparent;
    color: white;
/*padding    10px(top and bottom) 
              ^   25px(left to right) in that order  */
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid rgba(230, 208, 14, 0.603);

}



.box-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    max-width: 1400px;
    margin: 250px auto 120px auto;
    align-items: center;
    padding: 0 25px;
}



/*     target the div:nth-last-of-type(2) in the box-row  */
.box-row > div:nth-last-of-type(2){
 position: relative;
 
 top: -75px;

}







.inner-box{
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.479) 10px 10px 10px ;
    border-radius: 15px;
    padding: 50px 25px;
    text-align: center;

}
.inner-box h4{
     color: blue;
}

.inner-box img{
    margin: 0 auto;
    display: block;
    
}

.bottom-content{
    background-color: white;
    border-radius: 15px;
    color: black;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    max-width: 1400px;

    margin: 150px 700px 120px;
    padding: 50px 10px;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.479) 10px 10px 10px ;
    
}
.bottom-content button{
    margin: 10px;
    background-color:   rgb(108, 19, 160);
    border: 1px solid rgba(230, 208, 14, 0.603);
    box-shadow: rgba(89, 16, 131, 0.747) 10px 10px 10px ;

    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: 0px;
    font-size: 14px;

}
.bottom-content a{
    color:  white;
}





/* @media is used for make the site responsive to diff devices */
/* -------------------------------------------------------------------------------- */
@media screen and (max-width: 1814px) {  
    .bottom-content{
        margin: 0 auto 70px;
     } }


@media screen and (max-width: 1024px) {




    .content, .box-row{
        grid-template-columns: repeat(1,100%);
    }
    .box-row > div:nth-last-of-type(2){
        top: 0;
    }
    .box-row > div:nth-last-of-type(3){
        grid-column: 1/ span 2;
        max-width: 50%;
        margin: 0 auto;
    }
    

    .bottom-content{
        margin: 0 auto 70px;
     }

    
}
@media screen and (max-width: 1028px) {

    .bottom-content{
        margin: 0 auto 70px;
     }

}
@media screen and (max-width: 686px){

    .navbar a{
        margin: auto 10px auto;
        
    }
    .navbar .transparent-btn{
        margin: 15px auto;

    }   
    .bottom-content{
        margin: 0 auto 70px;
     }


}


@media screen and (max-width: 640px) {


    .navbar .transparent-btn{
        display: none;
    }
    .navbar a{
        margin: 20px 10px;
    }


    .content, .box-row{
        grid-template-columns: repeat(1,100%);
    }

    .box-row > div:nth-last-of-type(3){
        grid-column: 1/  2;
        max-width: 100%;
        margin: 0 auto;
    }
    .f-bottom{
        margin: 0 auto;
    }
  

    
}